@page "{handler?}"
@model IndexModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="row">
    <div class="col-2 col">
        <text>Filters</text>
    </div>
    <div class="col text-center">
        <h6><b>Всего записей: @ViewBag.RecordsQuantity</b></h6>
    </div>
    <div class="col-1 text-end">Показать</div>
    <div class="col-1 text-end">
        <select onchange="gotoUrl(this)">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-2 col">
        <input type="search" placeholder="Enter code" />
    </div>
    <div class="col">
        <input type="search" placeholder="Enter name" class="col-12" />
    </div>
</div>
<div class="text-start">
    <div class="justify-content-center">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-2" scope="col">Код ТН ВЭД</th>
                    <th scope="col">Наименование</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.TNVEDCodes)
            {
                <tr>
                    <th scope="row">@String.Format("{0}{1}{2}{3} {4}{5} {6}{7}{8} {9}", item.Code[0], item.Code[1], item.Code[2], 
                        item.Code[3], item.Code[4], item.Code[5], item.Code[6], item.Code[7], item.Code[8], item.Code[9])</th>
                    <td>@item.Name</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            document.getElementsByTagName('select')[0].value = @ViewData["PageSize"];
        });

        function gotoUrl(element) {
            window.location.href = `/MoreOnPage?pageSize=${element.value}`;
        };
    </script>
}
