@page
@model PrivacyModel

<h1 class="text-center">@ViewData["Title"]</h1>

<p>Данное приложение создано исключительно для управления базой данных по кодам ТН ВЭД
    и техническим регламентам, которую использует чат-бот CertExpertsBot</p>
<p>Все права принадлежат главному разработчику</p>
