@page "/TechReg/Edit"
@model ManageDb.Pages.Views.TechReg.EditModel

<h1>@ViewData["Title"]</h1>

<h4>Технический регламент</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TechRegModel.Id" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="TechRegModel.Name" class="control-label"></label>
                        <textarea asp-for="TechRegModel.Name" class="form-control" required onclick="trim(this)"></textarea>
                        <span asp-validation-for="TechRegModel.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label asp-for="TechRegModel.Description" class="control-label"></label>
                        <textarea asp-for="TechRegModel.Description" class="form-control" required onclick="trim(this)"></textarea>
                        <span asp-validation-for="TechRegModel.Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div>
                <div class="form-group">
                    <label asp-for="SelectedTNVEDCodeIds" class="control-label">Коды ТН ВЭД</label>
                    <select asp-for="SelectedTNVEDCodeIds"
                            asp-items="Model.TNVEDCodeMSL"
                            class="form-control"
                            multiple
                            size="12">
                    </select>
                    <span asp-validation-for="SelectedTNVEDCodeIds" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="./Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#SelectedTNVEDCodeIds').select2({
                ajax: {
                    url: '/api/tnvedcodes',
                    dataType: 'json',
                    delay: 250,
                    data: function(params) {
                        return {
                            q: params.term,
                            page: params.page || 1
                        };
                    },
                    processResults: function(data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data.items,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                    cache: true
                },
                placeholder: 'Поиск по кодам ТН ВЭД',
                minimumInputLength: 1
            });
        });
    </script>
    <script src="~/js/site.js"></script>
}
